{{- $publisherName := site.Params.publisher | default site.Title -}}
{{- $publisher := dict "@type" "Organization" "name" $publisherName "url" site.BaseURL -}}
{{- if and site.Params.avatar site.Params.avatar.home.assetPath -}}
  {{- $publisher = merge $publisher (dict "logo" (dict "@type" "ImageObject" "url" (site.Params.avatar.home.assetPath | absURL))) -}}
{{- end -}}

{{- if .IsHome -}}
  {{- $organization := merge (dict "@context" "https://schema.org") $publisher -}}
  {{- $webSite := dict
    "@context" "https://schema.org"
    "@type" "WebSite"
    "name" site.Title
    "alternateName" (slice "Compile My Mind" "CompileMyMind")
    "url" site.BaseURL
    "description" site.Params.description
    "publisher" $publisher
    "potentialAction" (dict "@type" "SearchAction" "target" (dict "@type" "EntryPoint" "urlTemplate" (printf "%s?q={search_term_string}" site.BaseURL)) "query-input" "required name=search_term_string")
  -}}
  {{- printf "<script type=\"application/ld+json\">%s</script>" ($organization | jsonify) | safeHTML -}}
  {{- printf "<script type=\"application/ld+json\">%s</script>" ($webSite | jsonify) | safeHTML -}}
{{- end -}}

{{- if .IsPage -}}
  {{- $schemaType := .Params.schemaType | default (cond (eq .Section "posts") "BlogPosting" "WebPage") -}}
  {{- $pageSchema := dict
    "@context" "https://schema.org"
    "@type" $schemaType
    "headline" .Title
    "description" (cond (ne .Description "") .Description (.Summary | plainify | truncate 160))
    "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
    "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
    "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
    "url" .Permalink
    "inLanguage" .Language.Locale
    "publisher" $publisher
  -}}
  {{- if eq .Section "posts" -}}
    {{- $pageSchema = merge $pageSchema (dict "author" $publisher "wordCount" .WordCount "timeRequired" (printf "PT%dM" .ReadingTime)) -}}
  {{- end -}}
  {{- $resolvedImage := partial "post-image-resolve.html" . -}}
  {{- if $resolvedImage.imageResource -}}
    {{- $pageSchema = merge $pageSchema (dict "image" $resolvedImage.imageResource.Permalink) -}}
  {{- else if $resolvedImage.image -}}
    {{- $pageSchema = merge $pageSchema (dict "image" ($resolvedImage.image | absURL)) -}}
  {{- else if site.Params.defaultImage -}}
    {{- $pageSchema = merge $pageSchema (dict "image" (site.Params.defaultImage | absURL)) -}}
  {{- end -}}
  {{- with .Params.tags -}}
    {{- $pageSchema = merge $pageSchema (dict "keywords" .) -}}
  {{- end -}}
  {{- printf "<script type=\"application/ld+json\">%s</script>" ($pageSchema | jsonify) | safeHTML -}}
{{- end -}}

{{- if and .IsSection (eq .Section "posts") -}}
  {{- $collection := dict "@context" "https://schema.org" "@type" "CollectionPage" "name" .Title "description" .Description "url" .Permalink "isPartOf" (dict "@type" "WebSite" "name" site.Title "url" site.BaseURL) "publisher" $publisher -}}
  {{- printf "<script type=\"application/ld+json\">%s</script>" ($collection | jsonify) | safeHTML -}}
{{- end -}}

{{- if and (or .IsPage .IsSection) (not .IsHome) -}}
  {{- $sectionPage := site.GetPage (printf "/%s" .Section) -}}
  {{- $hasSectionCrumb := and .Section $sectionPage (ne $sectionPage.Permalink .Permalink) -}}
  {{- $items := slice (dict "@type" "ListItem" "position" 1 "name" (i18n "home" | default "Home") "item" site.Home.Permalink) -}}
  {{- if $hasSectionCrumb -}}
    {{- $items = $items | append (dict "@type" "ListItem" "position" 2 "name" $sectionPage.Title "item" $sectionPage.Permalink) -}}
  {{- end -}}
  {{- $items = $items | append (dict "@type" "ListItem" "position" (add (len $items) 1) "name" .Title "item" .Permalink) -}}
  {{- printf "<script type=\"application/ld+json\">%s</script>" (dict "@context" "https://schema.org" "@type" "BreadcrumbList" "itemListElement" $items | jsonify) | safeHTML -}}
{{- end -}}
