{{- /* Robots meta tag for SEO */ -}}
{{- $robots := slice -}}
{{- $minTagArticles := site.Params.tagPolicy.minArticlesToIndex | default 3 -}}
{{- $thinTag := and (eq .Kind "term") (eq .Type "tags") (lt (len .Pages) $minTagArticles) -}}
{{- if or .Params.noindex $thinTag -}}
  {{- $robots = $robots | append "noindex" -}}
{{- end -}}
{{- if .Params.nofollow -}}
  {{- $robots = $robots | append "nofollow" -}}
{{- end -}}
{{- if .Params.noarchive -}}
  {{- $robots = $robots | append "noarchive" -}}
{{- end -}}
{{- if .Params.nosnippet -}}
  {{- $robots = $robots | append "nosnippet" -}}
{{- end -}}
{{- if eq (len $robots) 0 -}}
  {{- $robots = $robots | append "index" "follow" -}}
{{- else if and (in $robots "noindex") (not (in $robots "nofollow")) -}}
  {{- $robots = $robots | append "follow" -}}
{{- end -}}
<meta name="robots" content="{{ delimit $robots ", " }}">
