<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5ZP6VTDC0D"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-5ZP6VTDC0D');
</script>

<!-- Google AdSense -->
<meta name="google-adsense-account" content="ca-pub-6150876719010892">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6150876719010892"
     crossorigin="anonymous"></script>
